
.botton{
    margin-top: 10px;
   margin-left: 360px;
}
.upimg{
    margin-left: 360px;
}
#itemName label{
margin-left: 200px;
}
#cost label{
    margin-left: 200px;
}
#create h2{
    margin-left: 350px;
}